# {{ ansible_managed }}
-a always,exit -F arch=32 -S mount -F auid>=1000 -F auid!=4294967295 -k mounts
{% if ansible_architecture == 'x86_64' -%}
-a always,exit -F arch=64 -S mount -F auid>=1000 -F auid!=4294967295 -k mounts
{% endif %}
